.timer {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.timer .ended {
  color: red;
}

.timer .ending {
  color: goldenrod;
}

.timer .running {
  color: green;
}

.timer button {
  padding: 0px 10px;
  margin: 0px 10px;
}
